<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unilibre2021_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unilibre20212">
        <activity
            android:name=".ActWS"
            android:exported="true"
            android:label="@string/title_activity_act_ws"
            android:theme="@style/Theme.Unilibre20212.NoActionBar" />
        <activity android:name=".ActSeekBar" />
        <activity android:name=".ActOpciones" />
        <activity android:name=".ActRadioButton" />
        <activity android:name=".ActCheckBox" />
        <activity android:name=".ActButton" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>